body {
    background-color: #ffffff;
    color: #1a1a1a;
    font-family: 'Malgun Gothic', sans-serif;
    font-size: 16px;
}

/* Estilos para a secção */
.hero {
    padding: 80px;
}

/* Estilos para o cartão da sapatilha */
.shoe {
    border: 4px solid #ececec;
    border-radius: 20px;
    padding: 20px;
    max-width: 400px;
    margin: auto; /* Centraliza o cartão */
}

/* Estilos para a imagem da sapatilha */
.shoe_image {
    border-radius: 20px;
    width: 400px;
    display: block; /* Centraliza a imagem no cartão */
    margin: 0 auto;
}

/* Estilos para o slogan da sapatilha (primeiro parágrafo) */
.shoe_category {
    color: #0e855b;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0;
    text-transform: uppercase;
}

/* Estilos para o nome da sapatilha (segundo parágrafo) */
.shoe_name {
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 0;
}

/* Estilos para o preço da sapatilha (terceiro parágrafo) */
.shoe_price {
    margin-top: 5px;
    margin-bottom: 0;
}